[server]
address = '0.0.0.0:8080'
worker_id = 'pict-rs-1'
[tracing.logging]
format = 'normal'
targets = 'warn,tracing_actix_web=info,actix_server=info,actix_web=info'

[tracing.console]
buffer_capacity = 102400

[tracing.opentelemetry]
service_name = 'pict-rs'
targets = 'info'

[old_db]
path = 'data/'

[media]
max_width = 10000
max_height = 10000
max_area = 40000000
max_file_size = 40
enable_silent_video = true
filters = ['blur', 'crop', 'identity', 'resize', 'thumbnail']
skip_validate_imports = false
cache_duration = 168

[repo]
type = 'sled'
path = 'data/sled-repo-local'
cache_capacity = 67108864

[store]
type = 'filesystem'
path = 'data/files-local'
